# I. OOP

1. (6б). Створіть клас Animal, додайте три атрибути, один з яких має значення за замовчуванням та два методи на свій розсуд.

In [ ]:
class Animal():
  def __init__(self, name, age, species="mammal"):
    self.name = name
    self.age = age
    self.species = species

  def description(self):
      print(f"This {self.name} is a {self.species}.")
      print(f"It is {self.age} years old.")

  def rename(self, new_name):
      print(f"Changing {self.name}'s name to {new_name}.")
      self.name = new_name

2. (2б). Створіть два обʼєкти цього класу, де один з обʼєктів створюється із дефолтним значенням атрибуту. На одному обʼєкті отримайте значення його атрибуту, а на іншому викличте один з його методів.

In [ ]:
animal1 = Animal("Fido", 20, "dog")
animal2 = Animal("Rex", 60)

print(animal2.species)

animal1.rename("Andrii")

mammal
Changing Fido's name to Andrii.

3. (5б). Створіть клас, де атрибути мають різні рівні доступу. Спробуйте отримати їхні значення та опишіть результати.

In [ ]:
class Employee:
    def __init__(self):
      self.name = "Joe"
      self._age = 50
      self.__position = "Drugdealer"

human = Employee()

print(human.name)   # звичайний вивід
print(human._age)   # звичайний вивід
print(human.__position)    # Помилка

Joe
50

AttributeError: 'Employee' object has no attribute '__position'

4. (7б). Як ви розумієте термін self? Для чого використовується метод __init __?

self використовується для посилання на поточний об'єкт класу, завдяки ньому можна отримати доступ до атрибутів та методів класу.

__init__ використовується для ініціалізації об'єктів. Метод викликається автоматично при створенні нового об'єкта. init приймає параметри, які необхідні для ініціалізації, і встановлює початкові значення атрибутів.

5. (9б). Створіть клас Фігура без атрибутів, з методом get_area для отримання площі фігури, що повертає 0 та __add __, який приймає self та other в якості аргументів, а повертає суму площин фігур self та other.

In [ ]:
class Figure():
  def get_area(self):
   pass

  def add (self, other):
    res = self.get_area() + other.get_area()
    return res

6. (11б). Створіть 2 дочірніх класи від Фігури: Трикутник та Коло, які мають атрибути, необхідні для розрахунку площин. Визначте метод get_area в кожному з них так, щоби вони розраховували площу в залежності від формули для кожного типу фігури. Створіть обʼєкт класу Трикутник та обʼєкт класу Коло. Виконайте операцію суми за допомогою оператора + між ними.

In [ ]:
class Triangle(Figure):
    def __init__(self, height, side):
        self.height = height
        self.side = side

    def get_area(self):
        return self.height * self.side * 0.5

class Circle(Figure):
    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return self.radius * self.radius * 3.14

triangle = Triangle(55, 32)
circle = Circle(10)

general_area = triangle.get_area() + circle.get_area()
print("Area is:", general_area)

Area is: 1194.0

7. (3б). Продемонструйте різницю між isinstance та issubclass.

In [ ]:
class MyClass():
  pass

my_obj = MyClass()

print(isinstance(my_obj, MyClass), isinstance(Triangle, MyClass))

True False

8. (13б). Створіть клас BankAccount з приватними атрибутами balance та account_number. Реалізуйте методи поповнення та зняття коштів, забезпечивши належну інкапсуляцію. Підказка: використовуйте декоратори property та setter.

In [ ]:
class BankAccount():
  def __init__(self, balance, account_number):
    self.balance = balance
    self.account_number = account_number

  @property
  def balance(self):
    return self._balance

  @property
  def account_number(self):
      return self._account_number

  def add_money(self, money):
    if money <= 0:
      print("deposit must be positive")
    else:
      self._balance += money

  def minus_money(self, money):
    if money > self._balance:
      print("minus amount is too large")
    else:
      self._balance -= money

9. (11б). Створіть клас Library, який містить список об'єктів типу Book. Реалізуйте методи для додавання книги, видалення книги та відображення списку книг.

In [ ]:
class Book():
  def __init__(self, title, author):
    self.title = title
    self.author = author

class Library():
  def __init__(self):
    self.books = []

  def plus_book(self, book):
    self.books.append(book)

  def minus_book(self, book):
    self.books.remove(book)

  def display_books(self):
    if self.books:
       for book in self.books:
           print(f"{book.title}, by {book.author}")
    else:
        print("Library is without books.")

book1 = Book(title="harry potter", author="joan rawling")
book2 = Book(title="bible", author="jesus")
book3 = Book(title="Colonia", author="kidruk")

just_library = Library()
just_library.plus_book(book1)
just_library.plus_book(book2)
just_library.plus_book(book3)
just_library.minus_book(book3)

just_library.display_books()

harry potter, by joan rawling
bible, by jesus

10. (13б). Створіть клас Person з атрибутами name та age. Створіть ще один клас Employee з такими атрибутами, як department та salary. Створіть клас Manager, який успадковує обидва класи Person та Employee. Продемонструйте використання множинної спадковості, створивши обʼєкт класу Manager та отримавши mro для цього класу.

In [ ]:
class Person():
  def __init__(self, name, age):
    self.name = name
    self.age = age

class Employee():
  def __init__(self, department, salary):
    self.department = department
    self.salary = salary

class Manager(Person, Employee):
  def __init__(self, name, age, department, salary):
    Person.__init__(self, name, age)
    Employee.__init__(self, department, salary)

project_manager = Manager("andrii", 20, "dog", "100 grvn")

print(Manager.mro())

[<class '__main__.Manager'>, <class '__main__.Person'>, <class '__main__.Employee'>, <class 'object'>]

# II. Iterator

11. (4б). Визначте рядок(str) з 4ма різними за значенням символами. Створіть ітератор на основі цього рядка. Викличте 5 разів функцію next на ітераторі, 4ри перших з них огорніть у ф-цію print().

In [ ]:
my_string = 'wolf'
my_iterator = iter(my_string)

for index in range(5):
    val = next(my_iterator, None)
    if val is None:
      break
    else:
      print(val)

w
o
l
f

А що якщо викликати цю ж функцію на рядку?

In [ ]:
my_string = 'wolf'
next(my_string)
# помилка бо рядки не є ітерабельними об'єктами

TypeError: 'str' object is not an iterator

 12. (5б). Опишіть своїми словами в одному реченні, як ви розумієте різницю між ітерабельними обʼєктами та ітераторами (можна на прикладі).

ітерабельні об'єкти можна ітерувати за допомогою циклу, (це списки, кортежі або рядки); коли ітератори - це  об'єкти, які зберігають стан ітерації, по типу метод next(), що зберігає внутрішній показник поточного елементу.

13. (11б). Створіть клас, що має визначений Iterator Protocol та при кожному виклику next повертає літери англійської абетки, поки вони не вичерпаються.

In [ ]:
class Alphabet:
  def __init__(self, start_char='a', end_char='z'):
        self.start_char = start_char
        self.end_char = end_char
        self.current_char = ord(start_char)

  def __iter__(self):
        return self

  def __next__(self):
      if self.current_char <= ord(self.end_char):
          char = chr(self.current_char)
          self.current_char += 1
          return char
      else:
          raise StopIteration

alph_iter = Alphabet('a', 'z')

for letter in alph_iter:
    print(letter)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.